<launch>
  <param name="use_sim_time" value="false"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find museum_nav)/maps/map.yaml"/>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>

  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>
</launch>
